* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.canvas-container {
  background-color: black;
  width: 100%;
  height: 100%;
  align-content: center;
}

canvas {
  display: block;
  margin-inline: auto;
  height: 100% !important;
  max-width: 100% !important;
}
/* 
.section {
  padding-inline: 1.5rem;
}
.container {
  max-width: 75rem;
  margin-inline: auto;
}

#canvas-container {
  margin-inline: auto;
  > canvas {
    margin-inline: auto;
  }
} */
